.toolPane[data-v-b8c4c3fc]{position:absolute;top:50px;left:300px;background-color:#272c36e6;border-radius:4px;padding:10px;color:#fff}[data-v-b8c4c3fc] .el-form-item__label{color:#fff;font-size:16px}
