.toolPane[data-v-6b3d87e3]{position:absolute;top:50px;left:300px;background-color:#272c36e6;border-radius:4px;padding:10px;color:#fff}[data-v-6b3d87e3] .el-form-item__label{color:#fff;font-size:16px}
